<h1>チーム一覧</h1>
<div class="teams-index-page">
  <div class="container1">
    <div class="container2">

    </div>
    <div class="container3">
      <div class="teams">
        <ul>
          <% @teams.each do |team| %>
            <li>
              <%= link_to team_path(team.permalink) do %>
                <%= team.name %>
              <% end %>
              <% if team.wanted? current_user %>
                <div class="wanted">
                  あなたのチーム加入を待ってます！
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
        <div class="pagination">
          <%= paginate @teams %>
        </div>
      </div>
    </div>
  </div>
</div>

