<h1>ユーザー一覧</h1>
<div class="users-index-page">
  <div class="container1">
    <div class="container2">

    </div>
    <div class="container3">
      <div class="users">
        <ul>
          <% @users.each do |user| %>
            <li>
              <div class="image-name">
                <div class="user-image">
                  <%= link_to user_path(user.permalink) do %>
                    <%= image_tag user.image.url %>
                  <% end %>
                </div>
                <div class="user-name">
                  <%= link_to user.name, user_path(user.permalink) %>
                </div>
              </div>
              <% if user.invitable? current_user %>
                <div class="invitable">
                  あなたの招待を待ってます！
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
        <div class="pagination">
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>
