<div class="page-home-top">
  <div class="top-section">
    <div class="top-section-main">
      <h1>一緒にゲームを作ろう！</h1>
      <p>GCMCは他のゲーム開発者をマッチングさせ<<br/>共同開発を支援するサービスです</p>
    </div>
  </div>
  <div class="features-section">
    <h2>ゲームクリエイター仲間づくりの場所として<br/>最高の環境を提供するために</h2>
    <ul>
      <li>
        <div class="feature">
          <div class="feature-image">

          </div>
          <div class="feature-description">
            <h4>豊富なプロフィール機能</h4>
            <p>「自分は何ができるのか」を別のユーザーに明確に伝えないことによるミスマッチ防止の観点から、プロフィールにスキルセットやポートフォリオを記載可能です。</p>
          </div>
        </div>
      </li>
      <li>
        <div class="feature">
          <div class="feature-image">

          </div>
          <div class="feature-description">
            <h4>スマートな検索機能</h4>
            <p>GCMCはユーザーのスキルや役割に応じて、最適なチームやユーザーを優先的に表示します。これによりスムーズなマッチングを可能にします。</p>
          </div>
        </div>
      </li>
      <li>
        <div class="feature">
          <div class="feature-image">

          </div>
          <div class="feature-description">
            <h4>役割別招待機能</h4>
            <p>GCMCではチームの募集したい役割と、招待されたい役割が一致したユーザーを当チームに招待することができます。</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
