<div class="page-home-top">
  <div class="top-section">
    <div class="top-section-main">
      <h1>一緒にゲームを作ろう！</h1>
      <p>GCMCは他のゲーム開発者をマッチングさせ<<br/>共同開発を支援するサービスです</p>
    </div>
  </div>
</div>
