// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ------------------------------ GENERAL ------------------------------
* {
  font-family: "M PLUS 1p", serif;
  box-sizing: border-box;

  &.focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: #4A90E2;

  &.hover {
    color: #4A90E2;
  }
}

h1 {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 32px;
  line-height: 40px;
  color: #00CC99;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 100;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
  padding: 0;
}

h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

// ------------------------------ HEADER ------------------------------

header {
  $breakpoint: 1000px;
  height: 60px;
  background-color: #00FFBF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  a.logo {
    display: block;
    width: 192px;
    height: 50px;
    position: absolute;
    background-image: image-url("HeaderLogo.png");
    background-size: cover;
    top: 5px;
    left: 5px;

    &:hover {
      background-image: image-url("HeaderLogoHover.png");
    }
  }

  div.hamburger-button {
    @media(max-width: $breakpoint) {
      display: block;
      width: 50px;
      height: 40px;
      text-align: center;
      position: absolute;
      top: 10px;
      right: 10px;
      border: 3px solid white;
      border-radius: 10px;
      padding-top: 2px;
      padding-bottom: 2px;
      line-height: 30px;
      color: white;
      font-size: 24px;
      cursor: pointer;
      &:hover {
        color: #CCFFF2;
        border-color: #CCFFF2;
      }
    }
    @media(min-width: $breakpoint) {
      display: none;
    }
  }

  nav.left-nav {
    height: 60px;
    position: absolute;
    top: 0;
    left: 210px;

    ul {
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;

      li {
        justify-content: left;

        a {
          font-weight: 700;
          font-size: 18px;
          display: block;
          border-radius: 15px;
          padding: 0 15px;
          height: 30px;
          line-height: 30px;
          color: white;

          &:hover {
            background-color: #CCFFF2;
            color: #00CC99;
          }
        }
      }
    }
  }

  nav.right-nav {
    height: 60px;
    position: absolute;
    top: 0;
    right: 10px;

    ul {
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;

      li {
        padding-left: 10px;
        height: 50px;
        justify-content: right;

        a {
          margin-top: 5px;
          margin-bottom: 5px;
          letter-spacing: 1px;
          font-weight: 700;
          padding: 2px 10px;
          height: 40px;
          line-height: 30px;
          display: block;
          border: 3px solid white;
          border-radius: 10px;
          text-align: center;
          font-size: 18px;
          color: white;

          &:hover {
            background-color: #CCFFF2;
            border-color: #CCFFF2;
            color: #00CC99;
          }
        }

        div.user-image {
          width: 50px;
          height: 50px;
          cursor: pointer;
          position: relative;

          img {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            position: absolute;
            top: 0;
            left: 0;
          }

          div.notice-circle {
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background-color: #FF0080;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }

  div.pull-down-menu {
    display: none;
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 99;
  }

  div.pop-up-menu {
    display: none;
    position: fixed;
    top: 57px;
    right: 7px;
    width: 300px;
    padding: 9px;
    border: 1px solid black;
    background-color: white;
    z-index: 101;

    div.user-name {
      padding-top: 5px;
      padding-bottom: 14px;
      line-height: 30px;
      font-size: 20px;
      color: black;
    }

    ul {
      li {
        border-top: 1px solid #E6E6E6;
        padding: 10px 3px;
        line-height: 20px;
        font-size: 18px;

        a {
          span.icon {
            display: inline-block;
            width: 30px;
            text-align: center;
          }

          color: #BFBFBF;

          &:hover {
            color: black;
          }
        }

        a.invited{
          color: #FF0080;
          &:hover{
            color: #FF66B3;
          }
        }

        &:last-child {
          border-bottom: 1px solid #E6E6E6;
        }
      }
    }
  }
}

// ------------------------------ MAIN ------------------------------

main[role="main"] {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 100px;
  min-height: 1200px;

  p.notice {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    text-align: center;
    background-color: #CCF2FF;
    color: #00BFFF;
  }
}

// ------------------------------ FOOTER ------------------------------

footer {
  width: 100%;
  background-color: #DAE6E3;
  color: #79807E;
  nav{
    padding-top: 10px;
    padding-bottom: 30px;
    ul{
      display: flex;
      justify-content: center;
      li{
        padding: 5px 10px;
        a {
          color: #79807E;

          &:hover {
            color: #AAB3B0;
          }
        }
      }
    }
  }
  address{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    text-align: center;
  }
}

// ------------------------------ TOP ------------------------------

div.page-home-top {
  margin: 0;

  div.top-section {
    background-image: image-url("TopSectionBackground.png");
    background-size: cover;
    width: 100%;
    height: 540px;

    div.top-section-main {
      background-image: image-url("TopSectionBackground2.png");
      background-size: 100% 100%;
      width: 100%;
      height: 100%;

      h1 {
        color: white;
      }
    }
  }
}

// ------------------------------ TERMS and PRIVACY ------------------------------

div.terms-contents {
  width: 720px;
  margin-right: auto;
  margin-left: auto;
  ol{
    padding-left: 20px;
    li{
      list-style: decimal;
      ul{
        padding-left: 20px;
        li{
          list-style: disc;
        }
      }
    }
  }
  h3{
    padding-top: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #008060;
  }
  p{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 26px;
  }
}

div.privacy-contents{
  width: 720px;
  margin-right: auto;
  margin-left: auto;
  ol{
    padding-left: 20px;
    li{
      list-style: decimal;

    }
  }
  ul{
    padding-left: 20px;
    li{
      list-style: disc;
    }
  }
  h3{
    padding-top: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #008060;
  }
  h4{
    padding-top: 20px;
    font-size: 18px;
    line-height: 30px;
    color: #003326;
  }
  p{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 26px;
  }
  table.number-list{
    tbody{
      tr{

        td{
          vertical-align: top;
          padding-top: 10px;
          &:nth-child(1){
            width: 40px;
            text-align: center;
            padding-right: 10px;
          }
        }
      }
    }
  }
}
// ------------------------------ CONTACT ------------------------------

div.page-home-contact {

}

// ------------------------------ TEMPLATES ------------------------------
form.general-form {
  border: 1px solid #BFBFBF;
  border-radius: 10px;

  div.field {
    h4 {
      font-size: 18px;
      line-height: 20px;

      small {
        font-size: 12px;
        color: #BFBFBF;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="url"] {
      margin-top: 5px;
      width: 100%;
      height: 30px;
      line-height: 30px;
      border: 1px solid #BFBFBF;
      padding-left: 5px;
      appearance: none;

      &::placeholder {
        color: #E6E6E6;
      }
    }

    textarea {
      margin-top: 5px;
      border: 1px solid #BFBFBF;
      width: 100%;
      height: 120px;
      resize: none;
    }
  }

  div.actions {
    input[type="submit"] {
      display: block;
      width: 200px;
      height: 40px;
      background-color: #00FFBF;
      color: white;
      font-weight: 700;
      font-size: 20px;
      cursor: pointer;
      margin: 30px auto 0;
      border: none;
      border-radius: 10px;
    }
  }

  div.warning{
    padding-top: 5px;
    font-size: 14px;
    line-height: 20px;
    color: red;
  }
}

ul.general-tags{
  display: flex;
  flex-wrap: wrap;
  li{
    margin-right: 10px;
    margin-bottom: 10px;
    height: 30px;
    padding: 3px 12px;
    border: 2px solid #00CC99;
    border-radius: 5px;
    line-height: 20px;
    color: #00CC99;
  }
}
div.settings-menu {
  width: 260px;
  border: 1px solid #BFBFBF;
  border-radius: 10px;
  padding: 10px 15px;

  nav {
    ul {
      li {
        border-top: 1px solid #E6E6E6;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
        text-align: center;

        a {
          font-size: 18px;

          color: black;

          &:hover {
            color: #7F7F7F;
          }
        }

        &:last-child {
          border-bottom: 1px solid #E6E6E6;
        }
      }
    }
  }
}