// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.messages-index-page {
  padding-bottom: 100px;

  ul {
    @media(max-width: 660px) {
      margin-right: 10px;
      margin-left: 10px;
    }
    @media(min-width: 660px) {
      width: 640px;
      margin-right: auto;
      margin-left: auto;
    }
    padding: 20px 15px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;

    li {
      border-bottom: 1px solid #E6E6E6;

      &:first-child {
        border-top: 1px solid #E6E6E6;
      }

      a {
        display: block;
        padding: 10px 5px;

        &:hover {
          background-color: #F2FFFC;
        }

        div.sender-header {
          width: 100%;
          height: 60px;
          position: relative;

          div.sender-image {
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            left: 0;

            img {
              width: 100%;
              height: 100%;
              border-radius: 100%;
            }
          }

          div.sender-date {
            width: calc(100% - 60px);
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            color: #BFBFBF;
            position: absolute;
            top: 0;
            left: 60px;

            span.unread {
              padding-left: 10px;
              color: #FF66B3;
            }
          }

          div.sender-name {
            width: calc(100% - 60px);
            height: 30px;
            line-height: 30px;
            font-size: 20px;
            color: black;
            position: absolute;
            top: 20px;
            left: 60px;
          }
        }

        div.sender-content {
          font-size: 16px;
          line-height: 20px;
          color: black;
        }
      }
    }
  }
}

div.messages-room-page {
  padding-bottom: 100px;

  div.messages {
    @media(max-width: 660px) {
      margin-right: 10px;
      margin-left: 10px;
    }
    @media(min-width: 660px) {
      width: 480px;
      margin-left: auto;
      margin-right: auto;
    }

    padding: 10px 15px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;


    form {
      padding: 20px 10px;

      h4 {
        font-size: 18px;
        line-height: 20px;

        small {
          font-size: 12px;
          color: #BFBFBF;
        }

        &:nth-child(n+2) {
          margin-top: 20px;
        }
      }

      div.user-image-name {
        margin-top: 10px;
        height: 50px;
        position: relative;

        div.user-image {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 0;
          left: 0;

          a {
            img {
              display: block;
              width: 50px;
              height: 50px;
              border-radius: 25px;
            }
          }
        }

        div.user-name {
          width: calc(100% - 60px);
          position: absolute;
          top: 10px;
          left: 60px;
          font-size: 20px;
          line-height: 30px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          a {
            color: black;

            &:hover {
              color: #7F7F7F;
            }
          }
        }
      }

      textarea {
        margin-top: 5px;
        width: 100%;
        height: 100px;
        line-height: 20px;
        font-size: 14px;
        border-color: #BFBFBF;
        resize: none;
      }


      button[type="button"] {
        display: block;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        width: 160px;
        height: 40px;
        background-color: #00FFBF;
        color: white;
        font-size: 20px;
        border-radius: 10px;
        letter-spacing: 2px;
      }

      input[type="submit"] {
        display: none;
      }

    }

    ul {
      padding-top: 10px;
      padding-bottom: 10px;

      li {
        padding: 10px;
        border-bottom: 1px solid #E6E6E6;

        &:first-child {
          border-top: 1px solid #E6E6E6;
        }

        div.message-header {
          width: 100%;
          height: 60px;
          position: relative;

          div.message-image {
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            left: 0;

            img {
              display: block;
              width: 50px;
              height: 50px;
              border-radius: 25px;
            }
          }

          div.message-name {
            width: calc(100% - 60px);
            height: 30px;
            line-height: 30px;
            font-size: 20px;
            color: black;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: absolute;
            top: 0;
            left: 60px;
          }

          div.message-date {
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            color: #979797;
            position: absolute;
            top: 30px;
            left: 60px;
          }
        }

        div.message-content {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
}