form.sign-up-form{
  @media(max-width: 500px){
    margin-right: 10px;
    margin-left: 10px;
  }
  @media(min-width: 500px){
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
  padding: 20px 15px 30px;

  div.field{
    &:nth-child(n+3){
      margin-top: 20px;
    }
  }
}