// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.teams-index-page {
  div.container1 {
    @media(min-width: 1000px) {
      display: flex;
      width: 980px;
      margin-right: auto;
      margin-left: auto;
    }
    div.container2 {
      margin-right: 20px;

    }

    div.container3 {
      margin-left: 20px;
      ul.teams {
        display: flex;
        flex-wrap: wrap;
        width: 640px;
        li.team {
          width: 640px;
          padding: 20px 20px 30px;
          border-bottom: 1px solid #BFBFBF;
          div.team-image {
            width: 600px;
            height: 315px;
            margin-bottom: 10px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          div.team-title {
            font-size: 20px;
            line-height: 30px;

            a {
              color: black;

              &:hover {
                color: #7F7F7F;
              }
            }
          }

          div.team-description {
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 12px;
            line-height: 20px;
            color: #BFBFBF;
          }

          div.team-owner {
            width: 100%;
            height: 50px;
            position: relative;

            div.owner-image {
              width: 50px;
              height: 50px;
              position: absolute;
              top: 0;
              left: 0;

              img {
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 100%;
              }
            }

            div.owner-header {
              width: calc(100% - 60px);
              height: 20px;
              line-height: 20px;
              position: absolute;
              top: 0;
              left: 60px;
              font-size: 14px;
              color: #BFBFBF;
            }

            div.owner-name {
              width: calc(100% - 60px);
              height: 30px;
              line-height: 30px;
              font-size: 18px;
              position: absolute;
              top: 20px;
              left: 60px;

              a {
                color: black;

                &:hover {
                  color: #7F7F7F;
                }
              }
            }
          }

          div.team-wanted{
            padding-top: 20px;
            text-align: center;
            font-size: 20px;
            color: #FF0080;
          }
        }
      }
    }
  }
}

div.team-show-page {
  h2 {
    font-weight: 100;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #BFBFBF;
  }

  div.top-image {
    width: 100%;
    height: 480px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  div.container1 {
    width: 1000px;
    margin: 30px auto;
    display: flex;

    div.container2 {
      width: 640px;
      margin-right: 20px;

      div.information {
        padding: 0 10px 60px;

        div.team-header {
          padding-top: 10px;
          padding-bottom: 10px;
          line-height: 20px;
          color: #BFBFBF;
          font-size: 14px;
        }

        div.team-name {
          padding-bottom: 10px;
          line-height: 20px;
        }

        div.team-owner {
          width: 100%;
          height: 50px;
          position: relative;

          div.owner-image {
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            left: 0;

            img {
              display: block;
              width: 50px;
              height: 50px;
              border-radius: 100%;
            }
          }

          div.owner-header {
            width: calc(100% - 60px);
            height: 20px;
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 60px;
            font-size: 14px;
            color: #BFBFBF;
          }

          div.owner-name {
            width: calc(100% - 60px);
            height: 30px;
            line-height: 30px;
            font-size: 18px;
            position: absolute;
            top: 20px;
            left: 60px;

            a {
              color: black;

              &:hover {
                color: #7F7F7F;
              }
            }
          }
        }

        div.team-title {
          padding-top: 20px;
          padding-bottom: 20px;
          font-size: 30px;
          line-height: 40px;
        }

        div.team-description {
          font-size: 16px;
          line-height: 24px;
          color: #979797;
        }
      }

      div.members {
        ul {
          padding: 15px 0 40px 10px;
          display: flex;
          flex-wrap: wrap;

          li {
            margin-right: 10px;
            margin-bottom: 10px;
            width: 50px;
            height: 50px;

            img {
              display: block;
              width: 50px;
              height: 50px;
              border-radius: 100%;
            }
          }
        }

        div.no-member {
          padding: 20px 10px 50px;
          font-size: 16px;
          line-height: 20px;
          color: #BFBFBF;

        }
      }

      div.urls {
        div.no-url {
          padding: 20px 10px 40px;
          font-size: 16px;
          line-height: 20px;
          color: #BFBFBF;
        }
      }
    }

    div.container3 {
      width: 320px;
      margin-left: 20px;

      div.environments {
        padding-bottom: 40px;

        ul {
          padding-top: 20px;
          padding-right: 10px;
          padding-left: 10px;

          li {
            padding-bottom: 10px;

            h4 {
              padding-top: 5px;
              padding-bottom: 5px;
              font-size: 18px;
              line-height: 20px;
            }

            p {
              font-size: 14px;
              line-height: 20px;
              color: #979797;

              &.undefined {
                color: #BFBFBF;
              }
            }
          }
        }
      }

      div.wanted-positions {
        h3 {
          padding-top: 15px;
          padding-bottom: 10px;
          text-align: center;
          font-size: 20px;
          line-height: 30px;
          color: #00CC99;
        }

        ul {
          padding: 0 10px 10px 25px;

          li {
            height: 20px;
            line-height: 20px;
            margin-top: 5px;
            position: relative;

            &::before {
              position: relative;
              top: -1px;
              left: -10px;
              content: "";
              display: inline-block;
              width: 10px;
              height: 10px;
              border-radius: 5px;
              background-color: #00CC99;
            }

            div.position-name {
              position: absolute;
              top: 0;
              left: 10px;
            }

            div.position-amount {
              position: absolute;
              top: 0;
              right: 0;
              text-align: right;
            }
          }
        }

        div.not-wanted {
          padding-top: 20px;
          padding-bottom: 50px;
          text-align: center;
          font-size: 16px;
          line-height: 20px;
          color: #BFBFBF;
        }

        form.join-form {
          padding: 20px 15px 30px;
          margin-right: 10px;
          margin-left: 10px;
          border: 1px solid #00FFBF;
          border-radius: 10px;

          h4 {
            font-size: 18px;
            line-height: 20px;
          }

          div.select-field {
            padding-top: 5px;

            select {
              width: 200px;
            }
          }
        }

        div.actions {
          input[type="submit"] {
            display: block;
            width: 160px;
            height: 40px;
            background-color: #00FFBF;
            color: white;
            font-weight: 700;
            font-size: 20px;
            cursor: pointer;
            margin: 30px auto 0;
            border: none;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

div.team-setting-page {
  div.container1 {
    display: flex;

    div.container2 {
      div.team-description {
        border: 1px solid #BFBFBF;
        border-radius: 10px;
        padding: 9px 9px 20px;
        margin-bottom: 30px;

        div.team-image {
          width: 240px;
          height: 126px;

          a {
            img {
              display: block;
              width: 240px;
              height: 126px;
            }
          }
        }

        div.team-name {
          padding: 10px 6px;

          a {
            font-size: 20px;
            line-height: 24px;
            color: black;

            &:hover {
              color: #7F7F7F;
            }
          }
        }
      }
    }

    div.container3 {
      form.team-setting-form {
        width: 480px;
        padding: 20px 15px 30px;

        h3 {
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          padding-bottom: 20px;
          border-bottom: 1px solid #E6E6E6;
        }

        div.field {
          padding-top: 20px;

          h5 {
            font-size: 12px;
            line-height: 20px;
            color: #BFBFBF;
          }
        }
      }

      form.tags-form {
        ul.tags {
          padding-top: 5px;

          li {
            padding-top: 2px;
            padding-bottom: 2px;
          }
        }
      }

      form.wants-form {
        div.positions {
          padding-top: 20px;
          padding-bottom: 10px;
          border-bottom: 1px solid #E6E6E6;

          h4 {
            font-size: 18px;
            line-height: 20px;
          }

          div.nothing {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            font-size: 14px;
            line-height: 20px;
            color: #BFBFBF;
          }

          ul {
            padding: 0 10px 20px 5px;

            li {
              height: 20px;
              line-height: 20px;
              padding-top: 20px;
              padding-bottom: 10px;

              div.wanted-position {
                width: 100%;
                height: 20px;
                line-height: 20px;
                font-size: 16px;
                color: #7F7F7F;
                position: relative;

                div.wanted-position-name {
                  width: calc(100% - 60px);
                  height: 20px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  text-align: left;
                }

                div.wanted-position-amount {
                  width: 60px;
                  height: 20px;
                  position: absolute;
                  top: 0;
                  right: 0;
                  text-align: right;
                }
              }
            }
          }
        }

        div.select-field {
          padding-top: 5px;
          padding-bottom: 5px;
        }

        div.explanation {
          padding-top: 5px;
          font-size: 12px;
          line-height: 20px;
        }

        input[type="submit"].update {
          background-color: #00BFFF;
        }

        input[type="submit"].delete {
          background-color: #FFBF00;
        }

        input[type="number"] {
          margin-top: 5px;
          width: 60px;
          height: 30px;
          line-height: 30px;
          border: 1px solid #BFBFBF;
          padding-left: 5px;
          appearance: none;
        }
      }

      form.urls-form {
        div.urls {
          padding-top: 20px;
          padding-bottom: 10px;
          border-bottom: 1px solid #E6E6E6;

          h4 {
            font-size: 18px;
            line-height: 20px;
          }

          ul {
            padding-top: 10px;
            padding-bottom: 10px;

            li {
              padding-top: 5px;
              padding-bottom: 5px;

              button.url-name {
                font-size: 20px;
                line-height: 30px;
                color: #00CC99;

                &.selected {
                  color: #00BFFF;
                }
              }

              span.url-public {
                font-size: 14px;
                line-height: 20px;
                color: #BFBFBF;
              }

              div.url-url {
                font-size: 14px;
                line-height: 20px;
              }
            }
          }
        }

        div.radio-buttons {
          padding-top: 5px;

          span.radio-name {
            padding-left: 2px;
            padding-right: 18px;
          }
        }

        div.description {
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 14px;
          line-height: 20px;
        }

        input[type="submit"] {
          &.create {
            background-color: #00FFBF;
          }

          &.update {
            background-color: #00BFFF;
          }

          &.destroy {
            background-color: #FFBF00;
          }
        }
      }
    }
  }
}