// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.teams-index-page {
  div.container1 {
    div.container2 {

    }

    div.container3 {
      div.teams {
        border: 1px solid #BFBFBF;
        border-radius: 10px;
        padding: 9px;
        width: 300px;
      }
    }
  }
}

div.team-show-page {
  div.top-image {
    width: 100%;
    height: 480px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

div.team-setting-page {
  div.container1 {
    display: flex;

    div.container2 {
      div.team-description {
        border: 1px solid #BFBFBF;
        border-radius: 10px;
        padding: 9px 9px 20px;
        margin-bottom: 30px;

        div.team-image {
          width: 240px;
          height: 126px;

          a {
            img {
              display: block;
              width: 240px;
              height: 126px;
            }
          }
        }

        div.team-name {
          padding: 10px 6px;

          a {
            font-size: 20px;
            line-height: 24px;
            color: black;

            &:hover {
              color: #7F7F7F;
            }
          }
        }
      }
    }

    div.container3 {
      form.team-setting-form {
        width: 480px;
        padding: 20px 15px 30px;

        h3 {
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          padding-bottom: 20px;
          border-bottom: 1px solid #E6E6E6;
        }

        div.field {
          padding-top: 20px;

          h5 {
            font-size: 12px;
            line-height: 20px;
            color: #BFBFBF;
          }
        }
      }

      form.tags-form {
        ul.tags {
          padding-top: 5px;

          li {
            padding-top: 2px;
            padding-bottom: 2px;
          }
        }
      }

      form.wants-form {
        div.positions {
          padding-top: 20px;
          padding-bottom: 10px;
          border-bottom: 1px solid #E6E6E6;

          h4 {
            font-size: 18px;
            line-height: 20px;
          }

          div.nothing {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            font-size: 14px;
            line-height: 20px;
            color: #BFBFBF;
          }

          ul {
            padding: 0 10px 20px 5px;

            li {
              height: 20px;
              line-height: 20px;
              padding-top: 20px;
              padding-bottom: 10px;

              div.wanted-position {
                width: 100%;
                height: 20px;
                line-height: 20px;
                font-size: 16px;
                color: #7F7F7F;
                position: relative;

                div.wanted-position-name {
                  width: calc(100% - 60px);
                  height: 20px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  text-align: left;
                }

                div.wanted-position-amount {
                  width: 60px;
                  height: 20px;
                  position: absolute;
                  top: 0;
                  right: 0;
                  text-align: right;
                }
              }
            }
          }
        }

        div.select-field {
          padding-top: 5px;
          padding-bottom: 5px;
        }

        div.explanation {
          padding-top: 5px;
          font-size: 12px;
          line-height: 20px;
        }

        input[type="submit"].update {
          background-color: #00BFFF;
        }

        input[type="submit"].delete {
          background-color: #FFBF00;
        }

        input[type="number"] {
          margin-top: 5px;
          width: 60px;
          height: 30px;
          line-height: 30px;
          border: 1px solid #BFBFBF;
          padding-left: 5px;
          appearance: none;
        }
      }
    }
  }
}