// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.users-index-page {
  padding-bottom: 100px;
  div.container1 {
    @media(min-width: 1000px) {
      display: flex;
      width: 980px;
      margin-right: auto;
      margin-left: auto;
    }

    div.container2 {
      margin-right: 20px;
    }

    div.container3 {
      margin-left: 20px;

      ul.users {
        li.user {
          padding-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #E6E6E6;
          width: 640px;

          div.image-name {
            width: 100%;
            height: 60px;
            position: relative;

            div.user-image {
              width: 50px;
              height: 50px;
              position: absolute;
              top: 0;
              left: 0;

              img {
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 100%;
              }
            }

            div.user-name {
              width: calc(100% - 60px);
              height: 30px;
              line-height: 30px;
              position: absolute;
              top: 10px;
              left: 60px;

              a {
                font-size: 20px;
                color: black;

                &:hover {
                  color: #7F7F7F;
                }
              }
            }

          }

          div.user-description {
            font-size: 12px;
            line-height: 20px;
            color: #BFBFBF;
          }
        }
      }
    }
  }
}


div.user-show-page {
  padding-bottom: 100px;
  h2 {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 30px;
    color: black;

    &:before {
      border-top: 1px solid #979797;
      content: "";
      flex-grow: 1;
      margin-right: 10px;
    }

    &:after {
      border-top: 1px solid #979797;
      content: "";
      flex-grow: 1;
      margin-left: 10px;
    }
  }

  div.container1 {
    width: 820px;
    display: flex;
    margin-right: auto;
    margin-left: auto;

    div.container2 {
      width: 300px;
      margin-right: 20px;

      div.profile {
        width: 300px;
        padding: 30px 14px 20px;
        border: 1px solid #BFBFBF;
        border-radius: 10px;

        div.profile-image {
          img {
            display: block;
            width: 200px;
            height: 200px;
            border-radius: 100%;
            margin-right: auto;
            margin-left: auto;
          }
        }

        div.profile-name {
          padding-top: 10px;
          padding-bottom: 10px;
          text-align: center;
          line-height: 30px;
          font-size: 24px;
        }

        ul.profile-urls {
          display: flex;
          justify-content: center;

          li {
            width: 40px;
            height: 40px;
            margin-right: 5px;
            margin-left: 5px;

            a {
              display: block;
              width: 40px;
              height: 40px;
              padding-top: 5px;
              padding-bottom: 5px;
              text-align: center;
              line-height: 30px;
              font-size: 24px;
              border-radius: 8px;
              color: white;

              &.home-url {
                background-color: #00FFBF;
              }

              &.twitter-url {
                background-color: #1DA1F2;
              }

              &.github-url {
                background-color: #171515;
              }
            }

            div.no-url {
              width: 40px;
              height: 40px;
              padding-top: 5px;
              padding-bottom: 5px;
              text-align: center;
              line-height: 30px;
              font-size: 24px;
              border-radius: 8px;
              color: white;
              background-color: #E6E6E6;
            }
          }
        }

        ul.user-tags {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 15px;

          li {
            height: 20px;
            line-height: 20px;
            margin-top: 5px;

            &::before {
              position: relative;
              top: -1px;
              left: -10px;
              content: "";
              display: inline-block;
              width: 10px;
              height: 10px;
              border-radius: 5px;
              background-color: #00CC99;
            }
          }
        }

        div.profile-description {
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 14px;
          line-height: 20px;
        }

        div.profile-location {
          padding-top: 5px;
          padding-bottom: 5px;
          line-height: 20px;
          color: #BFBFBF;
        }

        div.profile-birth {
          padding-top: 5px;
          padding-bottom: 5px;
          line-height: 20px;
          color: #BFBFBF;
        }
      }
    }

    div.container3 {
      width: 480px;
      margin-left: 20px;

      div.skills {

      }

      div.portfolios {
        ul {
          li {
            div.portfolio-header {
              width: 100%;
              height: 70px;
              position: relative;

              div.portfolio-image {
                width: 120px;
                height: 63px;
                position: absolute;
                top: 0;
                left: 0;

                img {
                  display: block;
                  width: 120px;
                  height: 63px;
                }
              }

              div.portfolio-name {
                width: calc(100% - 130px);
                height: 30px;
                line-height: 30px;
                position: absolute;
                top: 0;
                left: 130px;

                a {
                  color: #00CC99;
                  font-size: 20px;

                  &:hover {
                    color: #00FFBF;
                  }
                }
              }

              div.portfolio-period {
                width: calc(100% - 130px);
                height: 20px;
                line-height: 20px;
                position: absolute;
                top: 35px;
                left: 130px;
              }
            }
          }
        }
      }
    }
  }

  div.container4 {
    display: flex;
    width: 820px;
    margin-right: auto;
    margin-left: auto;

    div.container5 {
      margin-right: 35px;
      width: 350px;
    }

    div.container6 {
      margin-left: 35px;
      width: 400px;

      div.positions {
        h3 {
          text-align: center;
          line-height: 30px;
          font-size: 20px;
          color: #FF0080;
        }

        ul {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 15px;

          li {
            height: 20px;
            line-height: 20px;
            margin-top: 5px;

            &::before {
              position: relative;
              top: -1px;
              left: -10px;
              content: "";
              display: inline-block;
              width: 10px;
              height: 10px;
              border-radius: 5px;
              background-color: #FF66B3;
            }
          }
        }
      }

      div.invite {
        form.invite-form {
          border: 1px solid #FFCCE6;
          border-radius: 10px;
          padding: 20px 15px 30px;

          h3 {
            font-size: 18px;
            color: #FF0080;
            text-align: center;
          }

          div.phrase {
            font-size: 14px;
            line-height: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #E6E6E6;
          }

          div.field {
            padding-top: 20px;

            h4 {
              font-size: 18px;
              line-height: 20px;
            }

            div.select-field {
              padding-top: 5px;

              select {
                width: 200px;
              }
            }
          }

          div.actions {
            input[type="submit"] {
              display: block;
              width: 200px;
              height: 40px;
              background-color: #FF0080;
              color: white;
              font-weight: 700;
              font-size: 20px;
              cursor: pointer;
              margin: 30px auto 0;
              border: none;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}

div.user-setting-page {
  padding-bottom: 100px;
  div.container1 {
    width: 780px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    div.container2 {
      width: 260px;
      margin-right: 20px;
    }

    div.container3 {
      width: 480px;
      margin-left: 20px;
      form.user-setting-form {
        width: 480px;
        padding: 20px 15px 30px;

        h3 {
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          padding-bottom: 20px;
          border-bottom: 1px solid #E6E6E6;
        }

        div.field {
          padding-top: 20px;

          h5 {
            font-size: 12px;
            line-height: 20px;
            color: #BFBFBF;
          }
        }

        div.check-box-field {
          padding-top: 10px;
          padding-bottom: 5px;
        }

        div.nothing {
          padding-top: 10px;
          padding-bottom: 20px;
          color: #BFBFBF;
          font-size: 14px;
          line-height: 20px;
        }
      }

      form.profile-form {
        div.user-image {
          margin-top: 10px;
          margin-bottom: 20px;
          width: 160px;
          height: 160px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
          }
        }

        ul.tags {
          padding-top: 5px;

          li {
            padding-top: 2px;
            padding-bottom: 2px;
          }
        }

        div.birth-box {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }

      form.skills-form {
        div.skills {
          padding-top: 20px;
          padding-bottom: 10px;
          border-bottom: 1px solid #E6E6E6;

          h4 {
            font-size: 18px;
            line-height: 20px;
          }

          ul {
            padding-top: 10px;
            padding-bottom: 10px;

            li {
              padding-top: 5px;
              padding-bottom: 5px;

              button.skill-name {
                font-size: 20px;
                line-height: 30px;
                color: #00CC99;

                &.selected {
                  color: #00BFFF;
                }
              }

              div.skill-level {
                font-size: 14px;
                line-height: 20px;
                color: #BFBFBF;
              }
            }
          }
        }

        div.description {
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 14px;
          line-height: 20px;
        }

        input[type="submit"] {
          &.create {
            background-color: #00FFBF;
          }

          &.update {
            background-color: #00BFFF;
          }

          &.destroy {
            background-color: #FFBF00;
          }
        }
      }

      form.portfolios-form {
        div.portfolios {
          padding-top: 20px;
          padding-bottom: 10px;
          border-bottom: 1px solid #E6E6E6;

          h4 {
            font-size: 18px;
            line-height: 20px;
          }

          div.portfolio-image {
            a {
              display: block;
              width: 200px;
              height: 105px;

              img {
                display: block;
                width: 200px;
                height: 105px;
              }
            }
          }
        }
      }

      form.portfolio-form {

      }

      form.invitations-form {
        div.positions {
          padding-top: 20px;
          padding-bottom: 10px;
          border-bottom: 1px solid #E6E6E6;

          h4 {
            font-size: 18px;
            line-height: 20px;
          }

          div.nothing {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            font-size: 14px;
            line-height: 20px;
            color: #BFBFBF;
          }

          ul {
            padding-left: 20px;
            padding-bottom: 10px;

            li {
              height: 20px;
              line-height: 20px;
              margin-top: 10px;

              &::before {
                position: relative;
                top: -1px;
                left: -10px;
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background-color: #00CC99;
              }
            }
          }
        }

        div.select-field {
          padding-top: 5px;
          padding-bottom: 5px;
        }

        div.description {
          padding-top: 5px;
          font-size: 12px;
          line-height: 20px;
        }

        input[type="submit"].delete {
          background-color: #FFBF00;
        }
      }

      form.email-form {
      }

      form.password-form {
      }

      form.sns-form {


        a.connect-twitter {
          display: block;
          width: 250px;
          height: 40px;
          margin-top: 5px;
          background-color: #1DA1F2;
          border-radius: 10px;
          color: white;
          text-align: center;
          font-size: 16px;
          line-height: 24px;
          padding-top: 8px;
          padding-bottom: 8px;
        }

        a.disconnect-twitter {
          display: block;
          width: 250px;
          height: 40px;
          margin-top: 5px;
          background-color: #D2ECFC;
          border: 2px solid #1DA1F2;
          border-radius: 10px;
          padding-top: 6px;
          padding-bottom: 6px;
          text-align: center;
          font-size: 16px;
          line-height: 24px;
          color: #1DA1F2;
        }

        a.connect-github {
          display: block;
          width: 250px;
          height: 40px;
          margin-top: 5px;
          background-color: #171515;
          border-radius: 10px;
          color: white;
          text-align: center;
          font-size: 16px;
          line-height: 24px;
          padding-top: 8px;
          padding-bottom: 8px;
        }

        a.disconnect-github {
          display: block;
          width: 250px;
          height: 40px;
          margin-top: 5px;
          background-color: #D1D0D0;
          border: 2px solid #171515;
          border-radius: 10px;
          padding-top: 6px;
          padding-bottom: 6px;
          text-align: center;
          font-size: 16px;
          line-height: 24px;
          color: #171515;
        }
      }

      div.user-destroy-box {
        border: 1px solid #BFBFBF;
        border-radius: 10px;
        width: 480px;
        padding: 20px 15px 30px;

        h3 {
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          padding-bottom: 20px;
          border-bottom: 1px solid #E6E6E6;
        }

        div.caution {
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 16px;
          color: red;
          line-height: 24px;
          border-bottom: 1px solid #E6E6E6;
        }

        div.destroy-action {
          input[type="submit"] {
            display: block;
            width: 200px;
            height: 40px;
            background-color: #FFB2B2;
            color: red;
            font-weight: 700;
            font-size: 20px;
            cursor: pointer;
            margin: 30px auto 0;
            border: 2px solid #FF0000;
            border-radius: 10px;
          }
        }
      }
    }
  }
}