<p><%= @resource.name %>様<br/>毎度GCMCをご利用いただき、誠にありがとうございます。</p>
<p>パスワード再設定を行うには、以下のURLをクリックするか、コピーしてブラウザのアドレス欄に貼り付けてください。</p>
<p><%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token) %></p>
<p>このメールに覚えがない場合は、何もする必要はありません</p>
<p>GCMC</p>